/* Color Scheme:
#17252a
#2b7a78
#3aafa9
#def2f1
#feffff
background-color: #3aafa9;
background-image: url("../images/pattern.jpg");
*/ 

body {
  background-image:linear-gradient(to right, rgba(43,122,120,0.8), rgba(43,122,120,0.8)), url("../images/pattern.jpg");

}

table {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size: 150%;
}

td:hover {
  background-size: 100% 100%;
  transform:scale(1.2,1.2);
  transform-origin:center;
  }

input {
  font-size: 150%;
  background-color: #feffff;
  color: #2b7a78;
  border: 1px solid #17252a;
  border-radius: 5px;
  transition: width 0.1s ease-in-out;
}

input:focus {
  transform:scale(1.05,1.05);
  transform-origin:center;
  color: #17252a;
}

.search_bar {
  text-align:center;
}

a:link, a:visited, a:active {
  color: #def2f1;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #2b7a78;
}
/*img {
  max-width: 100%;
  height: auto;
  width: auto;
}
*/

@media all and (max-width: 960px) {
/* CSS rules here for screens lower than 750px */
.sports_image{
  max-width:100%;
  height: auto;
  width: auto;
}
.sports_description{
  max-width:100%;
  height: auto;
  width: auto;
  color: red;
}
.sports_title{
  max-width:100%;
  height: auto;
  width: auto;
  color: red;
}
.carousel.slide{
  max-width:100%;
  height: auto;
  width: auto;
}
}
@media all and (min-width: 960px) {
/* CSS rules here for screens above 750px */
.sports_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sports_description{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: red;
}
.sports_title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: red;
}
.carousel.slide{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
}


</style>