/* Color Scheme:
#17252a
#2b7a78
#3aafa9
#def2f1
#feffff
background-color: #3aafa9;
background-image: url("../images/pattern.jpg");
*/ 

input:focus {
  transform:scale(1.05,1.05);
  transform-origin:center;
  color: #17252a;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to right,#2b7a78, #3aafa9, #2b7a78);
}

a:link, a:visited, a:active {
  color: #17252a !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:hover {
  color: #2b7a78 !important;
  text-decoration: none !important;
  font-size: 125%;
}
